* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: smaller;
    background: url('Img/Background_image/abstract_3-1920x1080.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    padding: 30px;
}

.container {
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    padding: 40px;
    border-radius: 50px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #444;
    margin-bottom: 10px;
    display: flex;
    position: relative;
    left: 5px;
}

form {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 30vw;
    padding: 14px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

input[type="submit"] {
    background-color: rgb(84, 153, 186);
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: rgb(202, 137, 46);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

input:focus {
    border-color: rgb(14, 193, 209);
}

.note {
    font-size: 14px;
    color: #070101;
    margin-top: 20px;
}

.note a {
    color: rgb(66, 12, 231);
    text-decoration: none;
}

.note a:hover {
    text-decoration: underline;
}